{% extends "library/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    {% get_providers as socialaccount_providers %}

    <div class="content w-75 mx-auto">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form| crispy }}
            </fieldset>
<h5>or login with </h5>
        <a href="{% provider_login_url "google" %}" class="btn-base btn-info" role="button"> <i class="fab fa-google"></i> &emsp;Continue with Google</a>

<div style="height: 25px"></div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log in</button>

            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Dont have an account?<a class="ml-2" href="{% url 'register' %}">Sign Up Here</a>
            </small>
        </div>
    </div>


{% endblock %}
