{% extends "library/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content w-75 mx-auto">
        <aside class="profile-card">
            <header>
                <img class="rounded-circle account-img" width="150" src="{{ user.profile.image.url }}">
                <!-- the username -->
                <h1>{{ user.username }}</h1>
                <h2>{{ user.email }}</h2>

            </header>

        </aside>
    </div>


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">My info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#all_shows" role="tab"
               aria-controls="all_shows-tab" aria-selected="false">My Library</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#used" role="tab" aria-controls="contact"
               aria-selected="false">My unwatched</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#unused" role="tab" aria-controls="contact"
               aria-selected="false">My watched</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"></legend>
                    {{ u_form| crispy }}
                    {{ p_form| crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="all_shows" role="tabpanel" aria-labelledby="all_shows-tab">
            <div class="row">
                {% for item in all_items %}
{#                    <h1>{{ item.item.item_type }}</h1>#}
                    <div class="col">
                        {% if item.item.item_type == 'F' %}
                            <a href="{% url 'detail' item.item.item_id '1' %}">
                        {% elif item.item.item_type == 'T' %}
                            <a href="{% url 'detail' item.item.item_id '2' %}">
                        {% elif item.item.item_type == 'M' %}
                            <a href="{% url 'detail-artist-music' item.item.item_id '1'%}">
                        {% endif %}
                            {% if item.item.image_path != null %}
                                 {% if item.item.item_type == 'F' or item.item.item_type == 'T' %}
                                     <img class="mb-2 shadow-sm" style="width:250px" src="https://image.tmdb.org/t/p/w185{{ item.item.image_path }}" alt="...">
                                 {% else%}
                                     <img class="mb-2 shadow-sm" style="width:250px" src="{{ item.item.image_path }}" alt="...">
                                 {% endif %}
                            {% else %}
                                <h1>{{ item.item.name }}</h1>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="unused" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
                {% for item in unused_items %}
                    <div class="col">
                        {% if item.item.item_type == Movie %}
                            <a href="{% url 'detail' item.item.item_id '1' %}">
                        {% elif item.item.item_type == TV %}
                            <a href="{% url 'detail' item.item.item_id '2' %}">
                        {% elif item.item.item_type == Music %}
                            <a href="{% url 'detail-artist-music' item.item.item_id 1 %}">
                        {% endif %}
                        {% if item.item.image_path != null %}
                            {% if item.item.item_type == 'F' or item.item.item_type == 'T' %}
                                     <img class="mb-2 shadow-sm" style="width:250px" src="https://image.tmdb.org/t/p/w185{{ item.item.image_path }}" alt="...">
                                 {% else%}
                                     <img class="mb-2 shadow-sm" style="width:250px" src="{{ item.item.image_path }}" alt="...">
                                 {% endif %}
                        {% else %}
                            <h1>{{ item.item.name }}</h1>
                        {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="used" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
                {% for item in used_items %}

                    <div class="col">
                        {% if item.item.item_type == 'F' %}
                            <a href="{% url 'detail' item.item.item_id 1 %}">
                        {% elif item.item.item_type == 'T' %}
                            <a href="{% url 'detail' item.item.item_id 2 %}">
                        {% elif item.item.item_type == 'M' %}
                            <a href="{% url 'detail-artist-music' item.item.item_id 1 %}">
                        {% endif %}
                        {% if item.item.image_path != null %}
                           {% if item.item.item_type == 'F' or item.item.item_type == 'T' %}
                                     <img class="mb-2 shadow-sm" style="width:250px" src="https://image.tmdb.org/t/p/w185{{ item.item.image_path }}" alt="...">
                                 {% else%}
                                     <img class="mb-2 shadow-sm" style="width:250px" src="{{ item.item.image_path }}" alt="...">
                                 {% endif %}
                        {% else %}
                            <h1>{{ item.item.name }}</h1>
                        {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock content %}