{% extends "library/base.html" %}
{%  load crispy_forms_tags %}
{% block content %}
  <h1>{{ user.username }}</h1>
    <h2>{{ user.email }}</h2>
{#<div class="content w-75 mx-auto">#}
{#    <aside class="profile-card">#}
{#  <header>#}
{#       <img class="rounded-circle account-img" width="150"  src="{{ user.profile.image.url }}">#}
{#    <!-- the username -->#}
{#  #}
{#  </header>#}
{#  <ul class="nav nav-tabs" id="myTab" role="tablist">#}
{#  <li class="nav-item" role="presentation">#}
{#    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Watchlist</a>#}
{#  </li>#}
{##}
{#  <li class="nav-item" role="presentation">#}
{#    <a class="nav-link" id="today-tab" data-toggle="tab" href="#today" role="tab" aria-controls="today" aria-selected="false">Today's Shows</a>#}
{#  </li>#}
{#        <li class="nav-item" role="presentation">#}
{#    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Edit Profile</a>#}
{#        </li>#}
{#</ul>#}
{#<div class="tab-content" id="myTabContent">#}
{#    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">#}
{#        <div class="row" >#}
{#            {% for s in shows %}#}
{#                <div class="col" >#}
{#                    <a href="{% url 'tv-detail' s.show.show_num %}">#}
{#                        {% if s.show.poster_path != null %}#}
{#                        <img class="mb-2 shadow-sm" src="https://image.tmdb.org/t/p/w185/{{ s.show.poster_path }}"  alt="...">#}
{##}
{#                        {% else %}#}
{#                        <h1>{{ s.show.title }}</h1>#}
{#                        {% endif %}#}
{#                    </a>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">#}
{#      <form method="POST" enctype = "multipart/form-data">#}
{#        {% csrf_token %}#}
{#            <fieldset class="form-group">#}
{#            <legend class="border-bottom mb-4"></legend>#}
{#                {{ u_form| crispy}}#}
{#                {{ p_form| crispy}}#}
{#            </fieldset>#}
{#            <div class="form-group">#}
{#                <button class="btn btn-outline-info" type="submit">Update</button>#}
{#            </div>#}
{#        </form>#}
{#  </div>#}
{#    <div class="tab-pane fade" id="today" role="tabpanel" aria-labelledby="today-tab">#}
{#        <div class="row" >#}
{#            {% for s in today %}#}
{#                <div class="col" >#}
{#                    <a href="{% url 'tv-detail' s.show_num %}">#}
{#                        {% if s.poster_path != null %}#}
{#                        <img class="mb-2 shadow-sm" src="https://image.tmdb.org/t/p/w185/{{ s.poster_path }}"  alt="...">#}
{#                        {% else %}#}
{#                        <h1>{{ s.title }}</h1>#}
{#                        {% endif %}#}
{#                    </a>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{##}
{#</aside>#}
{# </div>#}


{%  endblock content %}