{% extends "library/base.html" %}
{% block content %}

<div class="content w-75 mx-auto">
    <aside class="profile-card">
  <header>
       <img class="rounded-circle account-img" width="150"  src="{{ user.profile.image.url }}">
    <!-- the username -->
    <h1>{{ user.username }}</h1>
    <h2>{{ user.email }}</h2>

  </header>

    </aside></div>
  <div class="row" >
            {% for item in items %}
                {% include 'library/item_poster.html' %}
            {% endfor %}
        </div>


{%  endblock content %}